name: vad_plus_example
description: "Demonstrates how to use the vad_plus plugin."
publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  vad_plus:
    path: ../

  flutter_soloud: 3.4.8
  permission_handler: ^12.0.1

  cupertino_icons: ^1.0.8
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/music/
